.tree {
	vertical-align: top;
}
.chart {
	vertical-align: top;
	width:610.1px;
}
.appointment {
	vertical-align: top;
	horizontal-align: right;
}
.top{	
}

ul {
	margin:0;
	padding:0;
}
.container{
	width:1200px;
	margin:0 auto;		
}
.menu{
	list-style:none;
	}
		.menu li {
			display:inline;
			list-style-type:none;
	}
a.button {
	display:inline-block;
	height:50px;
	border-raduis:5px;
	text-decoration:none;
}